.form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    padding: 25px 20px;
    border: solid black;
    background-color: rgb(236, 237, 242);
}

.form label {
  margin-right: 6px;
  font-weight: bold;
}

form div {
  display: flex;
  align-items: center;
}

input,
.text-area {
  min-width: 180px;
}

.text-area {
  height: 60px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.formBtns {
  display: flex;
  margin: auto;
  gap: 30px;
}

h1 {
  text-align: center;
  background-color: aqua;
}



/* RESUME */

.cv-container {
  margin-top: 50px;
  min-width: 800px;
  background-color: rgb(163, 231, 241);
  padding-bottom: 20px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border: solid black;
}

.general {
  text-align: right;
  min-height: 100px;
  margin-right: 20px;
}

.education,
.experience {
  text-align: center;
}

