.form {
    display: flex;
    gap: 20px;
    padding: 30px 10px;
    border: solid black
}

.form label {
    margin-right: 6px;
}

h1 {
  text-align: center;
  background-color: aqua;
}


/* RESUME */

.cv-container {
  margin-top: 50px;
  width: 30vw;
  height: 75vh;
  border: solid black;
}

.general {
  text-align: right;
}